<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Restaurant Objects</title>
	<link rel="stylesheet" type="text/css" href="main.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>





	<script type="text/javascript" src="main.js"></script>
</head>
<body ng-controller="myController">
	<div>

		<img class="background-picture" src="restaurant2.jpg">
		<div class="menu-container">

			<div class="menu">
				<H3>OG's Taco Shop</H3>

				<div class="left-column">
					<h4 class="item-name">{{Burrito.name}}</h4>
					<ul class="list">
						<li>{{Burrito.description}}</li>
						<li>${{Burrito.number}}</li>
						<li>{{Burrito.ingredients.join(',  ')}}</li>
					</ul>
					<button ng-click="toggleAddToOrder()">Add to Order</button>
				</div>

				<div class="right-column">
					<h4 class="item-name">{{Taco.name}}</h4>
					<ul class="list">
						<li>{{Taco.description}}</li>
						<li>${{Taco.number}}</li>
						<li>{{Taco.ingredients.join(',  ')}}</li>
					</ul>
					<button ng-click="tacoToOrder">Add to Order</button>
				</div>
			</div>
		</div>

				<div class="order-box" ng-show="orderBox">
					<h3>Choose Options</h3>
					<form ng-model="orderForm">
					<ul class="optionsList">
						<li>{{order[0].description}}</li>
						<button ng-click="toggleAddToOrder()">Close</button>
						<li><input ng-model="orderItem.meat" value="Chicken" type="radio" name="meat">{{Burrito.ingredients[0]}}</input></li>
						<li><input ng-model="orderItem.meat" value="Beef" type="radio" name="meat">{{Burrito.ingredients[1]}}</input></li>
						<li><input ng-model="orderItem.ingredients.tomato" value="Tomato" type="checkbox">{{Burrito.ingredients[2]}}</input></li>
						<li><input ng-model="orderItem.ingredients.cheese" value="Cheese" type="checkbox">{{Burrito.ingredients[3]}}</input></li>
						<li><input ng-model="orderItem.ingredients.pico" value="Pico de Gallo" type="checkbox">{{Burrito.ingredients[4]}}</input></li>
						<input ng-click="orderSubmit()" type="submit"></input>
					</ul>
					</form>
				</div>

				<div class="basket-box">
					<div ng-repeat="basketItem in basket">
						<h4>{{basketItem.meat}} burrito</h4>
						<p ng-repeat="ingredients in basketItem.ingredients">{{ingredients.key}}</p>
					</div>
				</div>

	</div>












</body>
</html>