* {
    margin:0;
}

.background-picture{
	position: absolute;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.menu-container{
	position: absolute;
	background-color: #ecf0f1;
	min-height: 420px;
	height: auto;
	width: 50%;
	margin-left: 25%;
	text-align: center;
	margin-top: 10%;
	padding-top: 0px;
	opacity: .9;
	border-radius: 4px;
}

/*Content of Menu*/

.menu {
	color: #2B2B2B;
	font-family: Verdana;
}

.OG {
	margin-bottom: 25px;
}

.menu-items{
	margin-bottom: 20px;
}

/*Left Column*/

.left-column {
	width: 50%;
	color: black;
	display: inline;
	float: left;
}

.item-name {
	text-align: center;
	font-weight: 800;
}

.list {
	list-style-type: none;
	text-align: left;
	padding: 20;
}

/*Right Column*/

.right-column {
	display: inline;
	float: right;
	width: 50%;
}

button {
	border: 1px silver solid;
	border-radius: 4px;
	background-color: #ecf0f1;
	opacity: .9;
}

/*button:hover {
	background-color: pink;
	border: 1px solid pink;
}*/

/*Order Box*/

/*.order-box {
	position: fixed;
	background-color: white;
	height: 300px;
	width: 20%;
	margin-left: 40%;
	margin-top: 15%;
	z-index: 2;
}

.order-box h3 {
	text-align: center;
}*/

#myModal {

}

.optionsList {
	list-style-type: none;
	text-align: left;
}

.basket-box {
	position: fixed;
	right: -10px;
	top:10%;
	height: auto;
	width: 300px;
	z-index: 2;
	background-color: #5bc0de;
	opacity: .8;
	border: 4px #5bc0de solid;
	border-radius: 4px;
}

.checkout {

}
