

.background-picture{
	position: absolute;
	width: 100%;
	height: auto;
	z-index: 0;
	margin-top: -10px;
	margin-left: -10px;
}

.menu-container{
	position: absolute;
	background-color: #ecf0f1;
	z-index: 1;
	height: 400px;
	width: 50%;
	margin-left: 25%;
	text-align: center;
	margin-top: 10%;
	padding-top: 0px;
	opacity: .9;
	border-radius: 4px;
}

/*Content of Menu*/

.menu {
	color: #2B2B2B;
	font-family: Verdana;
}

/*Left Column*/

.left-column {
	width: 50%;
	color: black;
	display: inline;
	float: left;
}

.item-name {
	text-align: center;
	font-weight: 800;
}

.list {
	list-style-type: none;
	text-align: left;
}

/*Right Column*/

.right-column {
	display: inline;
	float: right;
	width: 50%;
}

button {
	border: none;
	background-color: #ecf0f1;
	opacity: .9;
}

/*Order Box*/

.order-box {
	position: fixed;
	background-color: white;
	height: 300px;
	width: 20%;
	margin-left: 40%;
	margin-top: 15%;
	z-index: 2;
}

.optionsList {
	list-style-type: none;
	text-align: left;
}


